* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  /* display: flex; */
}

h1 {
  font-family: "MuseoModerno", cursive;
  text-align: center;
  font-size: 50px;
  color: #db5d47;
}

h2,
.incorrect,
.correct {
  padding: 20px;
}

.incorrect {
  padding: 20px;
}

fieldset {
  width: 50%;
  min-width: 300px;
  display: inline-block;
  border: solid 3px #04adbf;
}

button {
  font-family: "MuseoModerno", cursive;
  color: #db5d47;
  border: solid 1px #db5d47;
  background-color: white;
  padding: 7px;

  display: inline;
}

button:hover {
  background-color: #db5d47;
  color: white;
  border: solid white 1px;
}

.quiz,
.summary,
.quiz-info {
  display: none;
}

.question-score,
.numQuestions,
.score,
.currentQ {
  display: inline;
  font-size: 15px;
}
.quiz-info {
  margin-top: -32px;
}

ul {
  list-style: none;
  padding: 0;
}

.quiz li {
  cursor: pointer;
  margin-bottom: 8px;
  justify-content: center;
  display: flex;
}

.quiz li:hover {
  color: #04adbf;
}

.selected {
  color: #04adbf;
}

button.next-question {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}
